.cards__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* height: 360px; */
    /* -- scroll -- */
    /* overflow: auto;
    scroll-snap-type: y mandatory; */
}

.cards {
    padding: 16px 27px 20px 20px;
    background-color: var(--color-white);
    border-radius: 4px;
    border-top: 4px solid var(--color-orange);
    box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cards__primery-text {
    font-size: 18px;
    font-weight: 600;
}

.cards__secondary-text {
    font-size: 16px;
    font-weight: 400;
}

.cards__tertiary-text {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-black-alfa60)
}

.first-block__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first-block__contact {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.contact-img {
    width: 13px;
    height: 13px;
}

.cards__first-block {
    display: flex;
    justify-content: space-between;
}

.second-block__date-change {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cards__third-block {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.third-block__executor {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.executor {
    display: flex;
    align-items: center;
    gap: 6px;
}

.executor__img-container {
    height: 20px;
    width: 20px;
}

.executor-img {
    height: 100%;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}  

.executor__link {
    color: var(--color-black);
    cursor: pointer;
}

.executor__link:hover {
    opacity: 0.7;
}

.third-block__change-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.change-card__work {
    display: flex;
    align-items: center;
    gap: 4px;
}

.change-card__link {
    font-size: 15px;
    cursor: pointer;
}

.change-card__link:hover {
    opacity: 0.8;
}

.change-card__work-bg {
    background-color: var(--color-orange);
    width: 28px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-card__work-amount {
    color: var(--color-white);
    font-size: 10px;
    font-weight: 600;
}

.change-card__button {
    background-color: var(--color-blue-alfa-7);
    border-radius: 4px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    cursor: pointer;
}

.change-card__button:hover {
    opacity: 0.8;
}

.change-card__button-text {
    font-size: 12px;
    font-weight: 300;
    color: var(--color-blue-alfa80);
}