/*  Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 375px) {
    
}

@media only screen and (max-width: 850px) {
    .bar__button-filtr {
        order: -2;
    }
    .bar__request {
        order: -3;
    }
    .bar__request-form {
        min-width: 457px;
    }
    .header {
        min-width: 743px;
    }
}


@media only screen and (max-width: 414px) {
    .lk__img-container {
        height: 80px;
        width: 80px;
    }
.lk__user-info {
    display: none;
}

.navigation__menu-burger {
    gap: 30px;
}
.menu-burger-title {
    font-size: 25px;
}
.menu-burger-img {
    width: 40px;
    height: 40px;
}

.menu-lk-img {
    width: 20px;
    height: 10px;
}

.menu {
    grid-template-rows: 250px 1fr;
}

/* 
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;

}

.menu__sidebar-container {
    border-right: 0;
    border-bottom: 1px solid var(--color-blue-alfa-20);
}

.work-group__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

    

}


