@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --color-black: #002033;
    --color-black-alfa60: rgba(0, 32, 51, 0.6);
    --color-black-alfa30: rgba(0, 32, 51, 0.3);
    --color-blue-alfa-20: rgba(0, 65, 102, 0.2);
    --color-blue-alfa-28: rgba(0, 65, 102, 0.28);
    --color-blue-alfa-7: rgba(0, 65, 102, 0.07);
    --color-blue-alfa80: rgba(0, 57, 92, 0.8);
    --color-red: #FF4443;
    --color-white: white;
    --color-button: #0078D2;
    --color-orange: #F38B01;
    --color-violet: #89258B;
    --color-turquoise: #44CCDB;
    --bg-light-gray: #DEE4E8;
    --bg-light-gray-alfa50: rgba(236, 241, 244, 0.5);
    --bg-dark-gray: #00426912;
}

* {
    all: unset;
    display: revert;
    list-style: none;
}

html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);
}


.header {
    border-bottom: 1px solid var(--color-blue-alfa-20);
}

.container {
    padding: 0 24px 0 22px;
}


/* --- navigation --- */
.navigation {
    padding: 13px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu-burger {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-burger-title {
    font-size: 18px;
    font-weight: 700;
}

.navigation__menu-lk {
    display: flex;
    align-items: center;
}

.lk__img-container {
    height: 32px;
    width: 32px;
    margin-right: 12px;
}

.lk-img {
    height: 100%;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}    

.lk__user-info {
    margin-right: 12px;
}

.user-name {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 4px;
}

.user-name__link {
    cursor: pointer;
}

.user-name:hover {
    opacity: 0.7;
}

.user-staff {
    display: block;
    font-size: 12px;
    color: var(--color-black-alfa60);
}


.main {
    flex-grow: 1;
    display: flex;
}

.container-1 {
    padding: 0 24px 0 22px;
    flex: 1;
}
/* --- menu --- */ 
.menu {
    display: grid;
    grid-template-columns: 200px 1fr;
    flex-grow: 1;
}

/* --- menu__sidebar --- */
.menu__sidebar-container {
    border-right: 1px solid var(--color-blue-alfa-20);
    display: flex;
}

.menu__sidebar { 
    padding: 19px 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar__work-group {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.work-group__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-group__link {
    color: var(--color-black-alfa60);
    cursor: pointer;
}

.work-group__link--active {
    font-weight: 700;
}

.work-group__link:hover,
.settings__link:hover {
    opacity: 0.7;
}

.work-group__button {
    background-color: var(--color-white);
    border: 1px solid var(--color-button);
    width: 176px;
    height: 32px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.work-group__button:hover {
    opacity: 0.7;
}

.work-group__button-text {
    font-size: 14px;
    color: var(--color-button);
}

.sidebar__settings {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    flex-grow: 1;

}

.settings__link {
    font-size: 12px;
    color: var(--color-black-alfa60);
    cursor: pointer;
}

/* .work-group__item::before {
    content: "12";
    height: 20px;
    width: 28px;
    padding: 0 8px;
    background-color: var(--bg-light-gray);
    border-radius: 50px;
} */

/* --- menu__main --- */

.menu__main {
    padding: 52px 24px 56px 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* --- main__bar --- */

.main__bar{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.bar__request {
    display: flex;
    gap: 11px;
    align-items: center;
    /* margin-right: 12px; */
}

.request-text {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
}

.request__button {
    background-color: var(--color-button);
    border-radius: 4px;
    height: 40px;
    padding: 0 20px 0 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    text-align: center;
    cursor: pointer;
}

.request__button:hover {
    opacity: 0.8;
}

.request__button-text {
    color: var(--color-white);
    font-weight: 300;
}

.bar__request-form {
    display: flex;
    position: relative;
    flex: 1;
}

.request-form__search {
    border-top: 1px solid var(--color-blue-alfa-28);
    border-left: 1px solid var(--color-blue-alfa-28);
    border-bottom: 1px solid var(--color-blue-alfa-28);
    border-radius: 4px 0 0 4px;
    padding: 10px 18px;
    width: 100%;
    min-width: 150px;
}

.request-form__search-img {
    position: absolute;
    right: 60px;
    top: 18px;
    cursor: pointer;
}

.request-form__submit {
    border: 1px solid var(--color-blue-alfa-28);
    border-radius: 0 4px 4px 0;
    padding: 10px 18px;
    cursor: pointer;
}

.request-form__submit:hover {
    opacity: 0.8;
}

.request-form__submit-img {
    cursor: pointer;
}

.bar__button-filtr {
    background-color: var(--color-blue-alfa-7);
    border-radius: 4px;
    padding: 9px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.bar__button-filtr:hover {
    opacity: 0.8;
}

.button-filtr-text {
    color: var(--color-blue-alfa80);
}

.button-filtr-bg {
    height: 24px;
    width: 32px;
    background-color: var(--color-red);
    border-radius: 50px;
    position: relative;
}

.button-filtr-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--color-white);
    font-size: 12px;
    font-weight: 600;
}

/* --- main__application --- */
.main__applications-columns {
    flex: 1;
}
.applications-columns__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.applications-columns__column-container {
    background-color: var(--bg-light-gray-alfa50);
    border-radius: 4px;
}

.column-container {
    padding: 14px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.column-container__brief-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.brief-info-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.brief-info-title__cards-category {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-black);
    text-transform: uppercase;
}

.brief-info-title__work-bg {
    background-color: var(--bg-light-gray);
    width: 28px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brief-info-title__work-amount {
    color: var(--color-black-alfa60);
    font-size: 10px;
    font-weight: 600;

}

.brief-info__cards-price {
    font-size: 32px;
    font-weight: 300;
    color: var(--color-black-alfa30);
    text-align: center;
}

.brief-info__button {
    background-color: var(--color-blue-alfa-7);
    border-radius: 4px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.brief-info__button:hover {
    opacity: 0.8;
}

.brief-info__button-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-blue-alfa80);
}

.column-container__cards {

}

.cards__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* height: 360px; */
    /* -- scroll -- */
    /* overflow: auto;
    scroll-snap-type: y mandatory; */

}

.cards {
    padding: 16px 27px 20px 20px;
    background-color: var(--color-white);
    border-radius: 4px;
    border-top: 4px solid var(--color-orange);
    box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cards__primery-text {
    font-size: 18px;
    font-weight: 600;
}

.cards__secondary-text {
    font-size: 16px;
    font-weight: 400;
}

.cards__tertiary-text {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-black-alfa60)
}

.first-block__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first-block__contact {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.contact-img {
    width: 13px;
    height: 13px;
}

.cards__first-block {
    display: flex;
    justify-content: space-between;
}

.second-block__date-change {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cards__third-block {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.third-block__executor {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.executor {
    display: flex;
    align-items: center;
    gap: 6px;
}

.executor__img-container {
    height: 20px;
    width: 20px;
}

.executor-img {
    height: 100%;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}  

.executor__link {
    color: var(--color-black);
    cursor: pointer;
}

.executor__link:hover {
    opacity: 0.7;
}

.third-block__change-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.change-card__work {
    display: flex;
    align-items: center;
    gap: 4px;
}

.change-card__link {
    font-size: 15px;
    cursor: pointer;
}

.change-card__link:hover {
    opacity: 0.8;
}

.change-card__work-bg {
    background-color: var(--color-orange);
    width: 28px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-card__work-amount {
    color: var(--color-white);
    font-size: 10px;
    font-weight: 600;
}

.change-card__button {
    background-color: var(--color-blue-alfa-7);
    border-radius: 4px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    cursor: pointer;
}

.change-card__button:hover {
    opacity: 0.8;
}

.change-card__button-text {
    font-size: 12px;
    font-weight: 300;
    color: var(--color-blue-alfa80);
}